<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


This is master branch.
This is master branch.
This is master branch.
This is master branch.
This is master branch.
This is master branch.
This is master branch.

This is lee branch.


  <p>Hi</p>

  <script>

  // d3.select("body").selectAll("p")
  //   .data([4, 8, 15, 16, 23, 42])
  //   .enter().append("p")
  //     .text(function(d) { return "Hello D3" + d + "!"; });


  var letters = [
    {name: "A", frequency: .08167},
    {name: "B", frequency: .01492},
    {name: "C", frequency: .02780},
    {name: "D", frequency: .04253},
    {name: "E", frequency: .12702}
  ];

  function name(d) {
    return d.name;
  }

  d3.selectAll("div").data(letters, name);

  </script>

  I am in Lee Branch

  </body>
</html>
